<div class="login-background">
    <div class="login-bg-overlay"></div>
    <div class="login-container">
        <div class="login-left">
            <div class="login-logo">
                <img src="assets/images/logo.jpg" alt="">
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h2>Login</h2>
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" formControlName="password">
                </div>
                <div class="form-group">
                    <button class="btn">Submit</button>
                </div>

                <div class="login-register-text">
                    <!-- <a href="forgotpassword.html">Forgot Password?</a> -->
                    <a routerLink="/forget-password">Forgot Password?</a>
                    <span>Don't have an account?
                        <!-- <a href="register.html">Register Now</a> -->
                        <a routerLink="/register/shipper">Shipper</a>
                        <a routerLink="/register/trans">Transporters</a>
                    </span>
                </div>
            </form>
        </div>
        <div class="login-right">
            <div class="login-right-overaly"></div>
        </div>
    </div>

</div>
<!-- <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form> -->