<h3> Company Details</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Company Name *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Company Address *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Company Type *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Service Tax no">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Pan no *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Website">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mobile no">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Std Code*">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Landline*">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter your password *">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Comfirm Password *">
        </div>
    </div>

    <div class="col-sm-6">

    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <select class="form-control selectgender">
                <option>Select Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </select>
        </div>
    </div>


</div>

<h3 style="margin-top: 30px;">Details</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group files">
            <input type="file" class="form-control">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group files files-tow">
            <input type="files" class="form-control">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group ">
            <div class="Terms_service">
                <input type="checkbox" id="term_servies">
                <label for="term_servies">I accept Terms of service and Privacy Policy</label>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group text-right">
            <button class="btn">submit</button>
        </div>
    </div>
</div>